name: CI
on: 
  repository_dispatch:
    types: [run-e2e]

  workflow_dispatch:
    inputs:
      text:
        description: 'Type your text'
        default: 'TEXT'
        required: true
jobs:
  run_e2e:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Node.js
        uses: actions/setup-node@v2.1.2

      - name: Checkout
        uses: actions/checkout@v2
        
      - name: Map input
        run: |
          if [ ${{ github.event.client_payload.text }} ]
          then
             export TEXT_TO_PRINT=${{ github.event.client_payload.text }}
          else
             export TEXT_TO_PRINT=${{ github.event.inputs.text }}
          fi

          export OLEG_GREETING="Hi Oleg!"

          if [ $TEXT_TO_PRINT == oleg ]
          then
            echo '::set-env name=GREETING::$OLEG_GREETING'
          elif [ $TEXT_TO_PRINT == OLEG ]
          then
            echo '::set-env name=GREETING::"Angry Oleg"'
          else
            echo "Using input: $TEXT_TO_PRINT"
            echo '::set-env name=GREETING::$TEXT_TO_PRINT'
          fi

      - name: Print parameters
        run: |
          echo "TEXT: $GREETING"

      - name: Install dependencies
        run: npm install
      
      - name: Run tests
        run: npm run clean && npm run test
